name: Lint and Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.0

      - name: Lint Helm Chart
        run: |
          helm lint .

      - name: Template Helm Chart
        run: |
          helm template test . --debug

      - name: Validate Kubernetes Manifests
        uses: instrumenta/kubeval-action@master
        with:
          files: |
            templates/
